.login-inner-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 70%;
  height: 70vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 6rem;
  gap: 5rem;
}
.login-img-section {
  border-radius: 5rem;
  overflow: hidden;
}
.login-img-section img {
  width: 100%;
}
.login-container h1 {
  color: #000000;
  font-size: 2em;
  margin: 3rem;
  text-align: center;
}

.login-text-input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 1rem;
}

.login-submit {
  padding: 1rem;
  border-radius: 15px;
  font-size: 1.2rem;
  display: block;
  margin: 1rem auto;
  border: none;
  background-color: var(--secondary-red);
  color: white;
  cursor: pointer;
}

.login-register-switch {
  text-align: center;
  margin: 2rem;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.login-logo {
  width: 100px;
  margin: 4rem auto;
  display: block;
}
