.profile-container {
  display: flex;
  padding: 10px;
  margin: 0 auto;
  width: auto;
}

.profile-left {
  display: block;
  align-items: flex-start;
}

.profile-right {
  display: block;
  align-items: flex-end;
}

.friends-list, .assignments-list, .friend-requests-list, .message-container, .leaderboard-list{
    list-style-type: none;
}
.friends-item, .assignments-item, .friend-requests-item, .lb-item{
    padding: 5px;
    display: flex;
    justify-content: center;
}

.connections-container, .assignments-container, .assignments-item, .friend-requests-container, .messages-modal, .leaderboard-container{
    justify-items: center;
    padding: 20px 0;
    justify-content: space-around;
    color: black;
    border-radius: 25px;
    margin: 25px auto;
    padding: 30px;
    box-shadow: 0 8px 20px rgb(210, 210, 210);
}

.connections-container, .friend-requests-container{
  height: 100px;
}

.assignments-container, .assignments-item, .messages-modal, .leaderboard-container{
  height: 200px;
}

.assignments-completed, .assignments-incomplete{
  width: 300px;
}

.connections-container, .assignments-container, .friend-requests-container, .chat-container, .leaderboard-container {
    max-height: 800px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.chat-container{
  max-height: 500px;
}

.delete-btn, .message-btn, .add-btn, .accept-btn, .decline-btn, .search-btn {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;

}

.assignments-item p {
  padding: 1px;
}


.connections-container, .assignments-container, .friend-requests-container {
    display: grid;

}

.leaderboard-container{
  display: grid;
  justify-content: center;
}

.lb-item{
  display: inline-flex;
}

.assignments-lists {
  display: flex;
  justify-content: space-around;
}


.assignment-btn, .friends-btn, .friend-requests-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.friends-item, .friend-requests-item, .lb-item{
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.assignment-btn button, .friends-btn button, .friend-requests-btn button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-top: 5px;
    width: 80%;
}

.close-modal-btn, .send-btn{
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.add-btn, .search-btn{
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-top: 5px; 
}
.add-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-top: 5px;
}


.pending-icon button {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.edit-btn:hover .svg-icon path{
    fill: purple

}

.delete-btn:hover .svg-icon path {
  fill: purple;
}

.start-btn:hover .svg-icon path {
  fill: purple;
}

.message-btn:hover .svg-icon path {
  fill: purple;
}

.add-btn:hover .svg-icon path {
  fill: purple;
}

.search-btn:hover .svg-icon path {
    fill: purple
}

.accept-btn:hover .svg-icon path {
    fill: purple
}

.decline-btn:hover .svg-icon path {
    fill: purple
}

.pending-btn:hover .svg-icon path {
    fill: purple
}

.send-btn:hover .svg-icon path {
    fill: white
}

.close-modal-btn:hover .svg-icon path {
  fill: white
}


.search-row {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  justify-content: space-around;
}

.messages-modal {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 0;
  padding: 50px;
  background-color: rgb(149, 119, 215);
  font-size: 20px;
}

.display-none {
    display: none;
}
.display-block {
    display: block;
}

.message-container li{
  overflow: hidden;
  display: flex;
}

.messages-header .close-modal-btn, .send-btn{
  float: right;
}

.chat-container{
  background-color: white;
}

.message-container .sent-message{
  display: flex;
  justify-content: flex-end;
}

.msg-content{
  min-width: fit-content;
  padding: 5px;
  background-color: rgb(169, 120, 169);
  border-radius: 10px;
}

.msg-content p {
  font-size: 15px;
  margin: 0 0 0.2rem 0;
}

.lb-username{
  justify-content: flex-start;
}

.lb-points{
  justify-content: flex-end;
}

.lb-item {
  border-radius: 10px;
}

.lb-other{
  background-color: pink;
}

.lb-self{
  background-color: purple;
}
