.profile-container {
  display: flex;
  padding: 10px;
  margin: 0 auto;
  width: auto;
  justify-content: center;
}

.profile-left {
  display: block;
  align-items: flex-start;
}

.profile-right {
  display: block;
  align-items: flex-end;
}

.friends-list, .assignments-list, .friend-requests-list {
    list-style-type: none;
}
.friends-item, .assignments-item, .friend-requests-item{
    padding: 5px;
    display: flex;
    justify-content: center;
}

.connections-container, .assignments-container, .assignments-item, .friend-requests-container, .messages-modal{
    justify-items: center;
    padding: 20px 0;
    justify-content: space-around;
    color: black;
    border-radius: 25px;
    margin: 25px auto;
    padding: 30px;
    box-shadow: 0 8px 20px rgb(210, 210, 210);
}

.connections-container, .assignments-container, .friend-requests-container, .messages-modal {
    max-height: 500px;
    overflow-y: scroll;
}

.delete-btn, .message-btn, .add-btn, .accept-btn, .decline-btn, .search-btn {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;

}

.assignments-item p {
  padding: 1px;
}


.connections-container, .assignments-container, .friend-requests-container {
    display: grid;

}

.assignments-lists {
  display: flex;
  justify-content: space-around;
}


.assignment-btn, .friends-btn, .friend-requests-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.friends-item, .friend-requests-item{
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.assignment-btn button, .friends-btn button, .friend-requests-btn button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-top: 5px;
    width: 80%;

}

.add-btn, .search-btn{
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-top: 5px; 
}
.add-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-top: 5px;
}


.pending-icon button {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.edit-btn:hover .svg-icon path{
    fill: purple

}

.delete-btn:hover .svg-icon path {
  fill: purple;
}

.start-btn:hover .svg-icon path {
  fill: purple;
}

.message-btn:hover .svg-icon path {
  fill: purple;
}

.add-btn:hover .svg-icon path {
  fill: purple;
}

.search-btn:hover .svg-icon path {
    fill: purple
}

.accept-btn:hover .svg-icon path {
    fill: purple
}

.decline-btn:hover .svg-icon path {
    fill: purple
}

.pending-btn:hover .svg-icon path {
    fill: purple
}

.close-btn:hover .svg-icon path {
    fill: white
}

.send-btn:hover .svg-icon path {
    fill: white
}

.search-row {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  justify-content: space-around;
}

.messages-modal {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 0;
    padding: 50px;
    background-color: rgb(149, 119, 215);
}

.display-none {
    display: none;
}
.display-block {
    display: block;
}
