.challenge-container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.challenge-left-section {
  margin: 20px 60px;
}
@media screen and (max-width: 900px) {
  .challenge-title {
    font-size: 1.2rem;
    line-height: 1rem;
  }
}
.challenge-right-section {
  text-align: center;
  align-self: center;
}
.challenge-timer {
  font-size: 4rem;
  padding: 1rem;
}
.challenge-button {
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}
