:root {
  --primary-purple: #8c52ff;
  --secondary-red: #e3386a;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  min-height: 100%;
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  height: 100%;
  min-height: 100%;
}
