.home-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgba(101, 101, 101, 0.517);
}
.home-nav {
  margin: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.home-nav ul {
  list-style: none;
}
.home-nav a {
  text-decoration: none;
}
.background-video {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  width: 100vw;
}

.home-body-container {
  flex: 1;
  position: relative;
}
.try-it-button {
  font-size: 2rem;
  padding: 1.3rem 3rem;
  border-radius: 50px;
  border: 4px solid var(--primary-purple);
  color: rgb(194, 194, 194);
  background-color: rgba(0, 0, 0, 0.641);
  cursor: pointer;
  transition: all 0.5s;
}
.try-it-button:hover {
  border: 4px solid var(--secondary-red);
  background-color: var(--secondary-red);
  color: white;
}
.home-nav-li {
  color: white;
  text-shadow: 0 0 80px black;
  font-size: 1.3rem;
}
.home-logo {
  width: 80px;
}
.home-login-button {
  outline: 3px solid var(--primary-purple);
  background-color: rgba(0, 0, 0, 0.641);
  padding: 1rem;
  border-radius: 50px;
  color: white;
  padding-inline: 2rem;
  transition: all 0.5s;
}
.home-login-button:hover {
  background-color: var(--secondary-red);
  outline: 3px solid var(--secondary-red);
  color: white;
}
.home-slogan {
  color: white;
  padding: 5rem;
  font-size: 3rem;
  text-shadow: 0 0 80px white;
}
.home-center-section {
  position: absolute;
  top: 40%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
  width: 90%;
}
